<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404</title>
</head>
<body style="background-color: white;">
    <img src="https://media.licdn.com/dms/image/v2/C5112AQEw1fXuabCTyQ/article-inline_image-shrink_1500_2232/article-inline_image-shrink_1500_2232/0/1581099611064?e=1745452800&v=beta&t=ky17F_selGJPIoy3DvzXIIK8FLoxNFu4QqksXNoRdwM" alt="" style="height: 600px; width: 1000px; position: absolute; left: 25%; top: 20%;">

</body>
</html>